<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ro.westaco.carhome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:remove="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- (S8) -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" /> <!-- (S4) -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.PICK" />
            <data android:mimeType="*/*" />
        </intent>
    </queries>

    <application
        android:name=".CarHomeApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:icon="${appIcon}"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:windowSoftInputMode="adjustResize"
        android:roundIcon="${appIconRound}"
        android:supportsRtl="true"
        android:theme="@style/DefaultDayNightTheme.CarHome"
        android:configChanges="locale">

        <activity
            android:name=".presentation.screens.home.PdfActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.screens.signup_methods.profile_progress.ProfileProgressActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.screens.signup_methods.biometric_setup.SetUpBiometricActivity"
            android:exported="true" />
        <activity
            android:name="ro.westaco.carhome.presentation.screens.maps.MapActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.screens.signup_methods.email_verification.EmailVerificationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="carhome.page.link"
                    android:pathPrefix="/register"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.screens.auth.AuthActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.screens.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenTheme.CarHome"
            android:windowSoftInputMode="adjustResize"
            android:hardwareAccelerated="false"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.screens.onboarding.OnboardingActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/DefaultDayNightTheme.CarHome"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.screens.main.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|locale"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/DefaultDayNightTheme.CarHome"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
            <meta-data
                android:name="com.facebook.sdk.ClientToken"
                android:value="@string/facebook_client_token" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_app_key" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />

        </provider>

        <service
            android:name=".presentation.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

    </application>

</manifest>